* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

.block-1 {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-bottom: 1%;
  margin-top: 2%;
}
.block-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  gap: 10px;
  font-size: 8px;
  text-decoration: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
.view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  gap: 10px;
  font-size: 8px;
  text-decoration: none;
  align-items: center;
  border: 1px solid blueviolet;
  background-color: blueviolet;
  padding: 2px;
}
.block-3 {
  display: flex;
  justify-content: left;
  text-align: left;
  color: aliceblue;
  font-size: 35px;
}
.block-4 {
  display: flex;
  justify-content: left;
  text-align: left;
  color: aliceblue;
  font-size: 10px;
  margin-top: 5%;
}
button {
  border-color: white;
  margin-top: 5%;
  background-color: blueviolet;
  color: white;
}
.hero-img {
  width: 55%;
  margin-left: 14px;
  margin-bottom: -100px;
}
.container {
  display: flex;
  background-color: hsl(256, 26%, 20%);
  padding: 30px;
  position: relative;
}
.block-2:hover {
  color: green;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .hero-img {
    margin-top: 5%;
    z-index: 2;
    position: relative;
  }
  .icon {
    flex-direction: column;
    justify-content: center;
  }
  .findout {
    flex-direction: column;
  }
  .bottom-container {
    flex-direction: column;
    justify-content: center;
  }
  .bottom-logo {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .bottom-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  footer{
    flex-direction: column;
    gap: 50px;
  }
  .bild-1 {
    width: 20%;
  }
  .bild-2 img {
    width: 100%;
    /* height: 20%;
    bottom: auto; */
  }
}
.bild-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.bild-2 {
  position: absolute;
 width: 30%;
}
.bild-2 img {
  height: 100%;
}
.DIFFERENT {
  font-size: 48px;
  margin-top: 15%;
  margin-left: 10%;
}
.icon {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  gap: 10%;
  padding-right: 15%;
}
.icon-name {
  text-align: center;
  gap: 21px;
  display: flex;
  flex-direction: column;
}
.icon-name img {
  width: 100px;
  height: 100px;
  margin: auto;
}
.findout {
  display: flex;
  justify-content: space-between;
  margin: 8%;
  padding: 5%;
  background-color: hsl(256, 26%, 20%);
  position: relative;
  color: white;
}
.findout2 {
  font-size: 30px;
  margin-right: 18%;
}
button {
  font-size: 16px;
  background-color:white;
  color: black;
  width: 150px;
  margin-top: 13%;
  margin-right: 50px;
}
.bild-3 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.bild-3 img {
  height: 100%;
}
hr {
  margin-top: 30px;
  margin-bottom: 35px;
}
.foot {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.foot-2 a {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.bottom {
  position: relative;
  background-color: hsl(0, 0%, 98%);
  padding: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
}
.bild-4 {
  position: absolute;
  top: 0;
}
.bild-4 img {
  height: 100%;
}
.bottom-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
}
