@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

/* ### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%) */

/* - Family: [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display)
- Weights: 400

### Body

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

/* ### hr
  border: 3px solid wheat;
  color: white; */

